# IntelliJ specific files
.idea/
*.iws
*.iml
*.ipr

# Java specific files
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Ignoring any Java files that you don't want to track
*.java

# Ignore output directories
out/

# Ignore DBConnection file specifically
src/sample/_BackEnd/DBConnection.java

