# Ignore build output directories
bin/
build/
target/

# Ignore IDE specific files
*.iml
.idea/
*.classpath
*.project
*.settings/

# Ignore Maven and Gradle wrapper files
.mvn/
.gradle/
build/
out/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore the lib directory
*.jar
*.class